body {
	font-family:"Roboto","Helvetica","Arial",sans-serif;
	font-weight:500;
}
b, strong {
	font-weight:700;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:300;
}
table, tbody, tr, th, td {
	text-align:left;
	padding:0;
	margin:0;
	border:0;
}
th, td {
	padding:1em;
	margin:1em;
	border:1px white outset;
}
th {
	background:#ddd;
	/*border-top:2px lightgrey solid;*/
	/*border-left:2px lightgrey solid;*/
}
td {
	background:#eee;
	/*border-right:2px lightgrey solid;*/
	/*border-bottom:2px lightgrey solid;*/
}
.tv-icon {
	font-size: 2em;
	width:auto;
	height:auto;
	background:rgba(0,0,255,0.25);
}
.circle {
	background:white;
	padding:0.0625em;
	margin:0;
	width:1.4em;
	height:1.4em;
	border-radius:1em;
	box-shadow:0 -0.125em 0.125em rgba(0,0,0,0.25) inset,
		0 0.125em 0.125em rgba(255,255,255,0.5) inset;
	text-shadow: 0 2px 2px rgba(0,0,0,0.5);
	display:inline-block;
}
.black {
	color:white;
	background:black;
}
.white {
	color:black;
	background:white;
}
.bluegrey {
	color:black;
	background:CornflowerBlue;
}
.greengrey {
	color:black;
	background:greengrey;
}
.grey {
	color:black;
	background:grey;
}
.red {
	color:white;
	background:red;
}
.green {
	color:white;
	background:limegreen;
}
.blue {
	color:white;
	background:blue;
}
.yellow {
	color:white;
	background:yellow;
}
